* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.hd {
    box-shadow: 1px 1px 4px black;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.hd h1 {
    height: 70px;
    background: rgb(76, 173, 76);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: all 0.3s;
}

.ctnd {
    position: absolute;
    top: 70px;
    left: 0;
    width: 70%;
    padding: 80px 15% 0 15%;
    height: 100px;
    z-index: 0;
}

.hd h1:hover {
    cursor: pointer;
    background: rgb(69, 110, 69);
    color: white;
}

.map {
    height: 300px;
    width: 300px;
    border: 1px black solid;
}

.arriba {
    height: 50%;
    width: 100%;
    display: flex;
}

.arriba div {
    width: 50%;
    height: 100%;
}

.abajo {
    height: 50%;
    width: 100%;
    display: flex;
}

.abajo div {
    width: 50%;
    height: 100%;
}

.map:hover {
    cursor: pointer;
}